# Dependências do Node.js
node_modules/

# Variáveis de Ambiente
.env

# Logs de erro padrão do NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários e de sistema operacional (Windows/Mac)
.DS_Store
Thumbs.db